<template>
  <div class="token-info-section">
    <div class="token-info-table">
      <h1 style="display: none">{{ selectedToken.exchangeAddress }}</h1>
      <b-row>
        <b-col>Name</b-col>
        <b-col v-if="getActiveToken === 'ETH'">Ether</b-col>
        <b-col v-else>{{ selectedToken.name }}</b-col>
      </b-row>
      <b-row>
        <b-col>Symbol</b-col>
        <b-col v-if="getActiveToken === 'ETH'">ETH</b-col>
        <b-col v-else>{{ selectedToken.symbol }}</b-col>
      </b-row>
      <b-row>
        <b-col>Price</b-col>
        <b-col v-if="getActiveToken === 'ETH'"
          >${{ numberWithCommas(getEthPrice.toFixed(2)) }}</b-col
        >
        <b-col v-else-if="getPrice[selectedToken.tokenAddress] > 1"
          >${{ getPrice[selectedToken.tokenAddress].toFixed(2) }}</b-col
        >
        <b-col v-else-if="getPrice[selectedToken.tokenAddress] < 1"
          >${{ getPrice[selectedToken.tokenAddress].toFixed(4) }}</b-col
        >
      </b-row>
      <b-row>
        <b-col>24H Change</b-col>
        <b-col
          v-if="selectedToken.change > 0"
          class="token-price-usd positive-change"
          >+{{ (selectedToken.change * 100).toFixed(2) }}%</b-col
        >
        <b-col
          v-if="selectedToken.change < 0"
          class="token-price-usd negative-change"
          >-{{ (Math.abs(selectedToken.change) * 100).toFixed(2) }}%</b-col
        >
        <b-col
          v-if="selectedToken.change == 0"
          class="token-price-usd zero-change"
          >0.00%</b-col
        >
      </b-row>
      <b-row>
        <b-col>24H Volume</b-col>
        <b-col>${{ numberWithCommas(selectedToken.volume.toFixed(0)) }}</b-col>
      </b-row>
      <b-row>
        <b-col>Liquidity</b-col>
        <b-col v-if="selectedToken.liquidity > 0 && selectedToken.liquidity < 1"
          >${{ numberWithCommas(selectedToken.liquidity.toFixed(2)) }}</b-col
        >
        <b-col v-else
          >${{ numberWithCommas(selectedToken.liquidity.toFixed(0)) }}</b-col
        >
      </b-row>
      <b-row>
        <b-col>ROIR</b-col>
        <b-col v-if="selectedToken.roir"
          >{{ numberWithCommas(selectedToken.roir.toFixed(2)) }}%</b-col
        >
        <b-col v-else>-</b-col>
      </b-row>
      <b-row v-if="getActiveToken !== 'ETH'">
        <b-col>Token Address</b-col>
        <b-col cols="8">
          <a
            target="_blank"
            :href="`https://etherscan.io/token/${selectedToken.tokenAddress}`"
            >{{ selectedToken.tokenAddress }}</a
          >
        </b-col>
      </b-row>
      <b-row v-if="getActiveToken !== 'ETH'">
        <b-col>Exchange Address</b-col>
        <b-col cols="8">
          <a
            target="_blank"
            :href="
              `https://etherscan.io/address/${selectedToken.exchangeAddress}`
            "
            >{{ selectedToken.exchangeAddress }}</a
          >
        </b-col>
      </b-row>
      <b-row v-if="getActiveToken !== 'ETH'">
        <b-col>Listed on uniswap</b-col>
        <b-col v-if="selectedToken.timestamp">{{
          selectedToken.timestamp
        }}</b-col>
        <b-col v-else>-</b-col>
      </b-row>
    </div>

    <Holder />

    <vue-friendly-iframe
      v-if="
        rows.length > 0 &&
          selectedToken.exchangeAddress.length === 42 &&
          getActiveToken !== 'ETH'
      "
      src="/tokenpricechart"
    ></vue-friendly-iframe>

    <div class="latest-txs-table">
      <h5
        ref="test"
        v-if="
          rows.length > 0 &&
            selectedToken.exchangeAddress.length === 42 &&
            getActiveToken !== 'ETH'
        "
      >
        Latest Transactions
      </h5>
      <vue-good-table
        :columns="columns"
        :rows="rows"
        :line-numbers="true"
        max-height="500px"
        ref="datatable"
        :fixed-header="$mq === 'mobile' ? false : true"
        v-if="
          getActiveToken !== 'ETH' &&
            rows.length > 0 &&
            selectedToken.exchangeAddress.length === 42
        "
        :row-style-class="rowStyleClassFn"
        @on-row-click="onTxTableClick"
      />
    </div>

    <div class="front-run-txs-table">
      <h5
        ref="test"
        v-if="
          frontRunRows.length > 0 &&
            selectedToken.exchangeAddress.length === 42 &&
            getActiveToken !== 'ETH'
        "
      >
        Front-run Transactions
      </h5>
      <vue-good-table
        :columns="columns"
        :rows="frontRunRows"
        :line-numbers="false"
        max-height="500px"
        ref="datatable"
        :fixed-header="$mq === 'mobile' ? false : true"
        v-if="
          getActiveToken !== 'ETH' &&
            frontRunRows.length > 0 &&
            selectedToken.exchangeAddress.length === 42
        "
        :row-style-class="rowStyleClassFn"
        @on-row-click="onFrontRunTableClick"
      />
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import BigNumber from 'bignumber.js'
import { mapGetters, mapActions } from 'vuex'
import axios from 'axios'
import moment from 'moment'
import config from '../config'
import {
  getWeb3,
  getWeb3Metamask,
  getBalance,
  getTokenBalance,
  getAllListedToken,
  getETHToUSDPrice,
  getExchangeAddress,
  estimateGas,
  createNewExchange,
  metamaskCreateNewExchange,
  getEvents,
  getFrontRunTxs,
  queryServer
} from '../assets/js/utils'
import Holder from './Holder'
export default {
  components: { Holder },
  data: function () {
    return {
      summary: null,
      ethToUsd: 0,
      chartCurrency: 'USD',
      chartLoading: true,
      allowTxTableScroll: false,
      allowFrontRunTableScroll: false,
      columns: [
        {
          label: 'Date',
          field: 'timestamp',
          type: 'string',
          sortable: false,
          thClass: 'custom-th-class',
          tdClass: 'custom-td-class-align-center',
          width: '25%'
        },
        {
          label: 'Action',
          field: 'action',
          sortable: false,
          thClass: 'custom-th-class',
          tdClass: 'custom-td-class-align-center',
          width: '10%'
        },
        {
          label: `ETH Amount`,
          field: 'amount_eth',
          type: 'number',
          sortable: false,
          thClass: 'custom-th-class',
          tdClass: 'custom-td-class-align-right',
          width: '20%'
        },
        {
          label: `Token Amount`,
          field: 'amount_token',
          type: 'number',
          sortable: false,
          thClass: 'custom-th-class',
          tdClass: 'custom-td-class-align-right',
          width: '20%'
        },
        {
          label: 'Tx Hash',
          field: 'tx_hash',
          type: 'string',
          sortable: false,
          html: true,
          thClass: 'custom-th-class',
          tdClass: 'custom-td-class-align-right',
          width: '25%'
        }
      ],
      rows: [],
      frontRunRows: []
    }
  },
  computed: {
    ...mapGetters({
      getAccount: 'account/getAccount',
      getActiveToken: 'getActiveToken',
      getActiveTokenAddress: 'getActiveTokenAddress',
      getSummary: 'getSummary',
      getChartInfo: 'getChartInfo',
      getAvailableTokenList: 'account/getAvailableTokenList',
      getROIR: 'account/getROIR',
      getOwnedTokenList: 'account/getOwnedTokenList',
      getPrice: 'account/getPrice',
      getEthPrice: 'account/getEthPrice'
    }),
    selectedToken: function () {
      let self = this
      let selectedTokenSymbol
      let selectedTokenAddress
      if (this.getActiveToken === 'ETH') {
        selectedTokenSymbol = 'ETH'
        selectedTokenAddress = '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'
      } else {
        selectedTokenSymbol = this.getActiveToken
        selectedTokenAddress = this.getActiveTokenAddress.toLowerCase()
      }
      let token = this.getAvailableTokenList.find(
        t =>
          t.symbol === selectedTokenSymbol &&
          t.tokenAddress.toLowerCase() === selectedTokenAddress.toLowerCase()
      )
      let foundSummary
      if (token)
        foundSummary = self.getSummary.find(s => s.token_id === token.id)
      if (!foundSummary && token) {
        return {
          name: this.getActiveToken,
          symbol: this.getActiveToken,
          liquidity: 0,
          roir: self.getROIR[token.id] || 0,
          volume: 0,
          price: 0,
          src: '/_nuxt/assets/default-token.png',
          order: '-',
          change: 0,
          tokenAddress: token.tokenAddress,
          exchangeAddress: token.exchangeAddress,
          timestamp: moment(parseInt(token.timestamp))
            .startOf('day')
            .fromNow()
        }
      } else if (!foundSummary && !token) {
        let ownedToken = this.getOwnedTokenList.find(
          t => t.symbol === this.getActiveToken
        )
        return {
          name: this.getActiveToken,
          symbol: this.getActiveToken,
          liquidity: 0,
          roir: 0,
          volume: 0,
          price: 0,
          src: '/_nuxt/assets/default-token.png',
          order: '-',
          change: 0,
          tokenAddress: ownedToken ? ownedToken.tokenAddress : '-',
          exchangeAddress: '-',
          timestamp: null
        }
      } else {
        return {
          name: token.name,
          symbol: token.symbol,
          tokenAddress: token.tokenAddress,
          liquidity: parseFloat(foundSummary.liquidity * this.ethToUsd),
          roir: self.getROIR[token.id] || 0,
          volume: foundSummary.volume_eth_1D * this.ethToUsd,
          price: self.getPrice[token.tokenAddress],
          src: token.logo,
          order: foundSummary.order || '-',
          change: foundSummary.price_change_24h || 0,
          tokenAddress: token.tokenAddress,
          exchangeAddress: token.exchangeAddress,
          timestamp: moment(parseInt(token.timestamp))
            .startOf('day')
            .fromNow()
        }
      }
    }
  },
  created: async function () {
    let self = this
    let activeSymbol =
      this.getActiveToken === 'ETH' ? 'USDC' : this.getActiveToken
    let token = this.getAvailableTokenList.find(t => t.symbol === activeSymbol)
    if (token) {
      this.summary = this.getSummary.find(s => s.token_id === token.id)
    }
    let ethPrice = this.getETHPrice
    if (!ethPrice) {
      ethPrice = await getETHToUSDPrice()
    }
    this.ethToUsd = ethPrice
  },
  mounted: function () {
    let self = this
    let previousTokenName = this.getActiveToken
    this.setRows()
    this.setFrontRunRows()
    setInterval(self.setRows, 15000)
  },
  beforeUpdate: function () {
    if (this.getActiveToken === null) this.chartCurrency = 'ETH'
    if (this.getActiveToken === null || this.getActiveToken === 'ETH') {
      this.rows = []
      this.frontRunRows = []
    } else if (this.rows.length === 0 && this.frontRunRows.length === 0) {
      this.setRows()
      this.setFrontRunRows()
    }
  },
  methods: {
    ...mapActions({
      updateChartInfo: 'updateChartInfo'
    }),
    onTxTableClick (e) {
      let element = document.querySelector('.latest-txs-table .vgt-responsive')
      if (this.allowTxTableScroll) element.style.overflow = 'hidden'
      else if (!this.allowTxTableScroll) element.style.overflow = 'auto'
      this.allowTxTableScroll = !this.allowTxTableScroll
    },
    onFrontRunTableClick (e) {
      let element = document.querySelector(
        '.front-run-txs-table .vgt-responsive'
      )
      if (this.allowFrontRunTableScroll) element.style.overflow = 'hidden'
      else if (!this.allowFrontRunTableScroll) element.style.overflow = 'auto'
      this.allowFrontRunTableScroll = !this.allowFrontRunTableScroll
    },
    rowStyleClassFn (row) {
      if (row.action === 'buyToken') return 'row-style-buy'
      if (row.action === 'sellToken') return 'row-style-sell'
      if (row.action === 'addLiq') return 'row-style-add'
      if (row.action === 'remLiq') return 'row-style-remove'
    },
    async setRows () {
      let token = this.selectedToken
      if (token.tokenAddress.length < 42 || token.exchangeAddress.length < 42) {
        this.rows = []
        return
      }
      let events = await getEvents(token.tokenAddress, 100)
      let result = events.map(e => ({
        timestamp: moment(parseInt(e.timestamp)).format('YYYY MM DD, h:mm'),
        action: e.action,
        amount_eth: e.amount_eth.toFixed(4),
        amount_token: e.amount_token.toFixed(4),
        tx_hash: `<a href="https://etherscan.io/tx/${e.tx_hash}" target="_blanck">View on Etherscan</a>`
      }))
      this.rows = result
    },
    async setFrontRunRows () {
      let self = this
      let token = this.selectedToken
      if (token.tokenAddress.length < 42 || token.exchangeAddress.length < 42) {
        this.frontRunRows = []
        return
      }
      if (self.frontRunRows.length > 0) {
        let tokenInTable = this.getAvailableTokenList.find(
          t =>
            t.tokenAddress.toLowerCase() ===
            self.frontRunRows[0].tokenAddress.toLowerCase()
        )
        if (!tokenInTable) return
        if (tokenInTable.tokenAddress === token.tokenAddress) {
          return
        }
      }
      let frontRunTxs = await getFrontRunTxs(token.tokenAddress)
      let result = frontRunTxs.map(e => ({
        tokenAddress: token.tokenAddress,
        // timestamp: moment(parseInt(e.timestamp)).calendar(),
        timestamp: moment(parseInt(e.timestamp)).format('YYYY MM DD, h:mm'),
        action: e.action,
        amount_eth: e.amount_eth.toFixed(4),
        amount_token: e.amount_token.toFixed(4),
        gas_price: new BigNumber(e.gasPrice).toFixed(2),
        tx_hash: `<a href="https://etherscan.io/tx/${e.tx_hash}" target="_blanck">View on Etherscan</a>`
      }))
      let seperatedRows = []
      if (result.length > 60) result = result.slice(0, 60) // show only 20 pairs of front-run-txs group
      for (let i = 0; i < result.length; i += 3) {
        let seperateRowCollector = []
        seperateRowCollector.push(result[i])
        seperateRowCollector.push(result[i + 1])
        seperateRowCollector.push(result[i + 2])
        seperateRowCollector = seperateRowCollector.sort((a, b) => {
          let x = new BigNumber(parseInt(a.gas_price))
          let y = new BigNumber(parseInt(b.gas_price))
          let diff = x.minus(y).toNumber()
          return diff
        })
        seperateRowCollector.push({})
        seperateRowCollector.forEach(row => seperatedRows.push(row))
      }
      this.frontRunRows = seperatedRows
    },
    changeSelectedCurrency (currency) {
      this.chartCurrency = currency
      this.updateChartInfo({
        tokenAddress: this.selectedToken.tokenAddress,
        tokenName: this.getActiveToken,
        currency: this.chartCurrency,
        showChart: false
      })
    },
    numberWithCommas (x) {
      var parts = x.toString().split('.')
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return parts.join('.')
    }
  }
}
</script>

<style>
.token-info-section {
  text-align: center;
  width: 90%;
  /* max-width: 560px; */
  margin: 0 auto;
  margin-top: 30px;
  overflow: scroll;
  padding-top: 55px;
  height: calc(100vh - 94px);
}
.token-info-table {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.token-info-table .row .col {
  height: 40px;
  text-align: left;
  width: 100px;
  font-size: 13px;
}
.token-info-table .row .col:nth-of-type(2) {
  height: 40px;
  text-align: right;
}
.token-info-table .row .col-8 {
  text-align: right;
}
.token-info-table .row .col-8 a {
  font-size: 11px;
  text-align: right;
}
.vue-friendly-iframe > iframe {
  width: 100%;
  height: 630px;
  border: none;
  overflow: hidden;
}
iframe {
  width: 100%;
  height: 560px;
  border: none;
  overflow: hidden;
}
.vgt-wrap {
  width: 90%;
  margin: 20px auto;
}
.row-style-buy {
  font-size: 12px;
  padding-top: 10px;
  background: #ddf6dd;
}
.row-style-sell {
  font-size: 12px;
  padding-top: 10px;
  background: #f2dede;
}
.row-style-add {
  font-size: 12px;
  padding-top: 10px;
  background: #d5edff;
}
.row-style-remove {
  font-size: 12px;
  padding-top: 10px;
  background: #ffffdb;
}
.custom-th-class {
  color: #b14ae2 !important;
  font-size: 13px;
  text-align: center;
}
.custom-td-class-align-center {
  /* width: 20% !important; */
  padding: 10px !important;
  text-align: center;
}
.custom-td-class-align-left {
  /* width: 20% !important; */
  padding: 10px !important;
  text-align: left;
}
.custom-td-class-align-right {
  /* width: 20% !important; */
  padding: 10px !important;
  text-align: right;
}
.vgt-table.bordered td,
.vgt-table.bordered th {
  border-left: 0px !important;
  border-right: 0px !important;
}
.front-run-txs-table,
.latest-txs-table {
  margin-bottom: 40px;
}
.latest-txs-table .vgt-responsive,
.front-run-txs-table .vgt-responsive {
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .token-info-table {
    margin: 20px auto;
  }
  .vue-friendly-iframe > iframe {
    height: 500px;
    width: 90%;
  }
  .custom-th-class {
    color: #b14ae2 !important;
    font-size: 12px;
    text-align: center;
    left: 10px;
  }
}
</style>
