<template>
  <section id="token-info-container">
    <!-- Recent Modal -->
    <p style="display:none">{{ show }}</p>

    <b-modal
      ref="recent_tx_modal"
      id="recent_tx_modal"
      title="Recent Transactions"
      :hide-footer="true"
    >
      <table class="recent-tx-list">
        <thead>
          <tr>
            <td>Tx Hash</td>
            <td>Status</td>
            <td>Date</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tx in recentTx" :key="tx.hash">
            <td>
              <a :href="createTxLink(tx.hash)" target="_blank">{{
                tx.hash.slice(0, 8)
              }}</a>
            </td>
            <td
              class="success-status"
              v-if="tx.txreceipt_status == 1 && tx.isError == 0"
            >
              Success
            </td>
            <td
              class="failed-status"
              v-else-if="tx.txreceipt_status == 0 || tx.isError == 1"
            >
              Failed
            </td>
            <td
              class="pending-status"
              v-else-if="tx.txreceipt_status == 2 && tx.isError == 2"
            >
              Pending
            </td>
            <td>{{ txTimeStamp(parseInt(tx.timeStamp) * 1000) }}</td>
          </tr>
        </tbody>
      </table>
    </b-modal>
  </section>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import * as R from 'ramda'
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'
import {
  factoryAddress,
  tokenAddresses,
  exchangeAddresses
} from '../assets/js/token'
import { setTimeout } from 'timers'
import config from '../config'
export default {
  props: ['show'],
  data: function () {
    return {
      showing: false
    }
  },
  computed: {
    ...mapGetters({
      getAccount: 'account/getAccount',
      getSignIn: 'getSignIn',
      getTransactionList: 'transaction/getTransactionList',
      getTokenTransactionList: 'transaction/getTokenTransactionList',
      getPendingTransactionList: 'transaction/getPendingTransactionList'
    }),
    recentTx: function () {
      let txList = R.take(10, this.getTransactionList)
      let tokenTxList = R.take(10, this.getTokenTransactionList)
      let allTxList = txList.concat(tokenTxList)
      let combinedList = []
      for (let i = 0; i < allTxList.length; i++) {
        let found = combinedList.find(t => {
          return t.hash === allTxList[i].hash
        })
        if (!found) combinedList.push(allTxList[i])
      }
      for (let i = 0; i < this.getPendingTransactionList.length; i++) {
        let pendingTx = this.getPendingTransactionList[i]
        let isTxApplied = combinedList.find(
          t => t.hash.toLowerCase() === pendingTx.hash.toLowerCase()
        )
        console.log('Is pending tx applied: ', isTxApplied)
        if (!isTxApplied) {
          combinedList.push({
            hash: pendingTx.hash,
            isError: 2,
            txreceipt_status: 2,
            timeStamp: parseInt(pendingTx.timestamp / 1000)
          })
        }
        // else if (isTxApplied) {
        //   console.log('Removing pending tx')
        //   this.removePendingTransaction(pendingTx.hash)
        // }
      }
      return combinedList.sort((a, b) => b.timeStamp - a.timeStamp).slice(0, 6)
    }
  },
  methods: {
    ...mapActions({
      removePendingTransaction: 'transaction/removePendingTransaction',
      updateTokenTransactionListToken:
        'transaction/updateTokenTransactionListToken'
    }),
    redirect (url) {
      this.$router.push(url)
    },

    closeRecentTxModal () {
      this.hideModal('recent_tx_modal')
    },
    createTxLink (hash) {
      return `https://etherscan.io/tx/${hash}`
    },
    txTimeStamp: function (timestamp) {
      return moment(timestamp).calendar()
    },
    showModal (ref) {
      if (this.$refs[ref]) this.$refs[ref].show()
    },
    hideModal (ref) {
      if (this.$refs[ref]) this.$refs[ref].hide()
    },
    onCloseRecentTxModal () {
      this.$emit('close-recent-modal', true)
    }
  },
  mounted: function () {
    let self = this
    this.$root.$on('bv::modal::hide', (bvEvent, modalId) => {
      self.onCloseRecentTxModal()
    })
    let shouldShould = this.show
    if (shouldShould) this.showModal('recent_tx_modal')
  },
  beforeUpdate: function () {
    if (this.show && !this.showing) {
      this.showModal('recent_tx_modal')
    } else if (!this.show && this.showing) {
      this.hideModal()
      this.showing = false
    }
  }
}
</script>

<style>
#recent_tx_modal {
  color: #333;
  position: fixed;
  top: 150px;
  text-align: center;
  z-index: 3000;
}

/* #recent_tx_modal .modal-dialog,
#recent_tx_modal .modal-content {
  background-color: #eceeef;
  height: 300px;
  width: 300px;
  max-width: 300px !important;
  margin: 0px;
  padding: 0;
  border-radius: 0px;
} */
#recent_tx_modal .modal-header {
  background: #773894;
  text-align: center;
  color: #fff;
}
#recent_tx_modal .modal-body {
  padding: 0px;
}
#recent_tx_modal .model-header .title-container {
  width: 100%;
  padding-top: 10px;
}
#recent_tx_modal .model-header .close-button-svg {
  background: transparent;
  color: #e3e1e4;
}
#recent_tx_modal table {
  width: 100%;
  margin: 0 auto;
  height: 200px;
}
#recent_tx_modal table thead tr {
  height: 30px;
  border-bottom: 1px solid #d4d4d4;
  background: #f1f1f1;
  font-weight: bold;
}
#recent_tx_modal table tbody tr {
  margin-bottom: 10px;
  height: 20px;
  font-size: 14px;
}
#recent_tx_modal table tbody tr .success-status {
  color: #28a745;
}
#recent_tx_modal table tbody tr .failed-status {
  color: #dc3545;
}
#recent_tx_modal table tbody tr .pending-status {
  color: #ffc107;
}
</style>
