<template>
  <div>
    <p style="display: none">{{ donationCurrency }}</p>
    <Loading v-if="isLoadingWallet" message="Loading Wallet" />

    <div class="qr-scanner-container" v-if="scanning">
      <p class="camera-error-message">{{ this.cameraErrorMessage }}</p>
      <qrcode-stream
        v-if="!cameraErrorMessage"
        @decode="onDecode"
        @init="onInit"
        :paused="!scanning"
        :camera="camera"
      />
      <b-button
        variant="primary"
        @click="hideScanner"
        class="cancel-scanner-btn"
        >Cancel</b-button
      >
    </div>
    <b-alert v-if="!validateInputLiquidity" show fade variant="danger"
      >Input {{ form.inputCurrency }} has no liquidity</b-alert
    >
    <b-alert v-if="!validateOutputLiquidity" show fade variant="danger"
      >Output {{ form.outputCurrency }} has no liquidity</b-alert
    >
    <div
      id="uniswap-convert-section"
      v-show="
        !scanning &&
          !isLoadingWallet &&
          validateInputLiquidity &&
          validateOutputLiquidity
      "
    >
      <!-- {{ this.form }} -->
      <div>
        <b-button-group class="buy-or-sell" v-show="swapMode === 'swap'">
          <b-button
            v-bind:class="{ selected: isBuySelected }"
            class="switch-buy"
            @click="changeSelected('buy')"
            >Buy {{ getActiveToken }}</b-button
          >
          <b-button
            v-bind:class="{ selected: isSellSelected }"
            class="switch-sell"
            @click="changeSelected('sell')"
            >Sell {{ getActiveToken }}</b-button
          >
        </b-button-group>
      </div>

      <Holder v-if="swapMode === 'swap'" />

      <div v-if="!shouldRender" class="no-exchange-yet">
        <p>
          <strong>{{ getActiveToken }}</strong> does not have an uniswap
          exchange yet. Go to exchange tab and list the token frist.
        </p>
      </div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="shouldRender">
        <b-form-group
          v-if="isBuySelected && swapMode === 'swap'"
          id="exampleInputGroup1"
        >
          <label v-if="swapMode === 'swap'">Pay</label>
          <label v-else>Donate with</label>
          <v-select
            :options="availableInputTokens"
            label="title"
            placeholder="Please select a currency to pay"
            @input="onSelectInputCurrency"
            :disabled="isSellSelected"
            :value="form.inputCurrency"
            :clearable="false"
            :filter="filterToken"
          >
            <template slot="option" slot-scope="option">
              <img
                v-if="option.src"
                :src="option.src"
                height="20px"
                width="20px"
              />
              <img
                v-else-if="option.title === 'ETH'"
                src="../assets/eth-logo.png"
                height="20px"
                width="20px"
              />
              <img
                v-else
                src="../assets/default-token.png"
                height="20px"
                width="20px"
              />
              {{ option.fullname }}
            </template>
          </v-select>
        </b-form-group>

        <b-form-group v-if="isSellSelected" id="exampleInputGroup1">
          <label>Receive</label>
          <v-select
            :options="availableOutputTokens"
            label="title"
            placeholder="Please select a currency to receive"
            @input="onSelectOutputCurrency"
            :disabled="isBuySelected"
            :value="form.outputCurrency"
            :clearable="false"
            :filter="filterToken"
          >
            <template slot="option" slot-scope="option">
              <img
                v-if="option.src"
                :src="option.src"
                height="20px"
                width="20px"
              />
              <img
                v-else-if="option.title === 'ETH'"
                src="../assets/eth-logo.png"
                height="20px"
                width="20px"
              />
              <img
                v-else
                src="../assets/default-token.png"
                height="20px"
                width="20px"
              />
              {{ option.fullname }}
            </template>
          </v-select>
        </b-form-group>

        <b-form-group
          v-if="this.validateCurrency && swapMode === 'donation_swap'"
          prepend="@"
          class="input-form-group"
        >
          <!-- {{ form }} -->
          <div class="amount-label-container">
            <label>USD amount to donate</label>
          </div>
          <div class="input-field-container">
            <b-form-input
              id="inputValue"
              type="text"
              v-model="form.inputValueUsd"
              required
              :state="validateUsdAmount"
              @keyup="onUsdInputChange"
              @focus="onInputFocus"
              autocomplete="off"
            />
            <button
              type="button"
              class="erase"
              @click="form.inputValue = ''"
            ></button>
          </div>
          <b-form-invalid-feedback
            v-if="form.inputValueUsd"
            :state="validateUsdAmount"
            >Minimum $5 required.</b-form-invalid-feedback
          >
        </b-form-group>
        <p style="display: none">{{ getBalance }}</p>
        <b-form-group
          v-if="this.validateCurrency"
          prepend="@"
          class="input-form-group"
        >
          <div class="amount-label-container">
            <label v-if="swapMode === 'swap'"
              >Enter {{ form.inputCurrency }} amount to sell</label
            >
            <label v-else>{{ donationCurrency }} amount to donate</label>
            <div>
              <p class="current-balance" v-if="swapMode === 'donation_swap'">
                {{ getBalance[donationCurrency || 'ETH'] || 0.0 }}
                {{ donationCurrency || 'ETH' }}
              </p>
              <p class="current-balance" v-else>
                {{ getBalance[form.inputCurrency] || 0.0 }}
                {{ form.inputCurrency || 'ETH' }}
              </p>
              <label class="use-all-funds" @click="useAllFunds"
                >Use All Funds</label
              >
            </div>
          </div>
          <div class="input-field-container">
            <b-form-input
              id="inputValue"
              type="text"
              v-model="form.inputValue"
              required
              :state="validateinputValue && validateBalance && validateSlippage"
              @keyup="onAmountChange"
              @focus="onInputFocus"
              autocomplete="off"
            />
            <button
              type="button"
              class="erase"
              @click="form.inputValue = ''"
            ></button>
          </div>
          <b-form-invalid-feedback
            v-if="form.inputValue"
            :state="validateinputValue && validateBalance && validateSlippage"
            >{{ inputErrorMessage }}</b-form-invalid-feedback
          >
        </b-form-group>

        <b-form-group
          v-if="this.validateCurrency"
          v-show="swapMode === 'swap'"
          class="input-form-group"
        >
          <label for>{{ form.outputCurrency }} amount to recieve</label>
          <div class="input-field-container">
            <b-form-input
              id="inputValue"
              type="text"
              v-model="form.outputValue"
              required
              :state="validateOutputAmount"
              @keyup="onAmountChange"
              @focus="onOutputFocus"
              autocomplete="off"
            />
            <button
              type="button"
              class="erase"
              @click="form.outputValue = ''"
            ></button>
          </div>
          <b-form-invalid-feedback
            v-if="form.outputValue.length > 0"
            :state="validateOutputAmount"
            >{{ outputErrorMessage }}</b-form-invalid-feedback
          >
        </b-form-group>

        <div
          class="exchange-info-container"
          v-if="
            slippage &&
              exchangeRate &&
              validateinputValue &&
              validateOutputAmount
          "
        >
          <b-form-group v-if="form.inputCurrency !== null">
            <label for>Exchange Rate</label>
            <p>
              1 {{ form.inputCurrency }} = {{ exchangeRate.toFixed(5) }}
              {{ form.outputCurrency }}
            </p>
          </b-form-group>
          <b-form-group v-if="form.inputCurrency !== null">
            <label for>Slippage</label>
            <p>{{ slippage.toFixed(2) }} %</p>
          </b-form-group>
        </div>

        <b-form-group
          v-if="form.inputCurrency !== null"
          class="advanced-toggle-group"
        >
          <b-form-checkbox
            switch
            v-model="showAdvanced"
            name="check-button"
            class="show-advanced-label"
            >Show Advanced Settings</b-form-checkbox
          >
        </b-form-group>

        <b-form-group
          class="input-form-group"
          id="exampleInputGroup1"
          v-if="form.inputCurrency !== null && showAdvanced"
        >
          <label for>Receiver Address</label>
          <div id="address-qr-btn-container">
            <div class="input-field-container address-field-container">
              <b-form-input
                type="text"
                v-model="form.targetAddress"
                placeholder="Enter receiver address"
                :state="validateTargetAddress"
                :disabled="swapMode === 'donation_swap'"
                autocomplete="off"
              />
              <button
                type="button"
                class="erase"
                @click="form.targetAddress = ''"
                :disabled="swapMode === 'donation_swap'"
              ></button>
            </div>
            <b-button
              variant="primary"
              id="qr-toggle-btn"
              @click="toggleScanner"
              :disabled="swapMode === 'donation_swap'"
            >
              <font-awesome-icon icon="qrcode" size="2x" color="#fff" />
            </b-button>
          </div>
          <b-form-invalid-feedback
            v-if="form.targetAddress.length > 0"
            :state="validateTargetAddress"
            >Invalid Receiver Address</b-form-invalid-feedback
          >
        </b-form-group>
        <p id="bad-token-message" v-if="isBadToken">
          Warning not all tokens will work with Uniswap. Read
          <a
            target="_blank"
            href="https://www.reddit.com/r/UniSwap/comments/c0k63p/contract_not_working/"
            >this</a
          >
          and make sure that your token contract is compatible with Uniswap.
        </p>
        <b-form-group v-if="form.inputCurrency !== null && showAdvanced">
          <div class="amount-label-container">
            <label for="range-1">Gas Price: {{ gasPrice }} GWEI</label>
            <div>
              <label class="reset-gas-price" @click="resetGasPrice"
                >Reset Gas Price</label
              >
            </div>
          </div>
          <b-form-input
            type="range"
            id="range-1"
            v-model="gasPrice"
            min="2"
            max="30"
            @change="updateGasLimitAndTxFee"
          />
          <p class="message-in-swap-form">Estimated Tx Fee: {{ txFee }} ETH</p>
        </b-form-group>
        <b-form-group v-if="form.inputCurrency !== null && showAdvanced">
          <div
            class="amount-label-container"
            v-if="form.inputCurrency !== null && showAdvanced"
          >
            <label for="range-1">Gas Limit: {{ gasLimit }} gas</label>
            <div>
              <label class="reset-gas-price" @click="resetGasLimit"
                >Reset Gas Limit</label
              >
            </div>
          </div>
          <div class="input-field-container">
            <b-form-input
              type="text"
              v-model="gasLimit"
              required
              :state="validateGasLimit"
            />
            <button type="button" class="erase" @click="gasLimit = ''"></button>
          </div>
        </b-form-group>
        <b-form-group v-if="form.inputCurrency !== null && showAdvanced">
          <div
            class="amount-label-container"
            v-if="form.inputCurrency !== null && showAdvanced"
          >
            <label for="range-1">Allowed Additional Slippage ( % )</label>
            <div>
              <label class="reset-gas-price" @click="updateGasLimitAndTxFee"
                >Use Recommended</label
              >
            </div>
          </div>
          <div class="input-field-container">
            <b-form-input
              type="text"
              v-model="ALLOWED_SLIPPAGE_PERCENT"
              required
              :state="validateSlippage"
            />
            <button
              type="button"
              class="erase"
              @click="ALLOWED_SLIPPAGE_PERCENT = ''"
            ></button>
          </div>
          <p
            class="message-in-swap-form"
            v-if="
              form.outputCurrency && form.outputValue && ALLOWED_SLIPPAGE >= 0
            "
          >
            You will receive minimum
            {{ form.outputValue - form.outputValue * ALLOWED_SLIPPAGE }}
            {{ form.outputCurrency }}
          </p>
        </b-form-group>
        <!-- <p>{{this.form}}</p> -->
        <div class="submit-button-group">
          <b-button type="reset" variant="outline-dark">Reset</b-button>
          <b-button
            type="submit"
            v-if="swapMode === 'donation_swap'"
            variant="primary"
            :disabled="shouldDisableSwapButton"
            >Donate</b-button
          >
          <b-button
            type="submit"
            v-else-if="isBuySelected"
            variant="primary"
            :disabled="shouldDisableSwapButton"
            >Buy</b-button
          >
          <b-button
            type="submit"
            v-else-if="isSellSelected"
            variant="primary"
            :disabled="shouldDisableSwapButton"
            >Sell</b-button
          >
        </div>
      </b-form>
      <!-- Success Modal -->
      <b-modal
        ref="success_modal_ref"
        id="unlock_request_modal"
        title="Transaction Submitted"
        :hide-footer="true"
        @hide="redirect"
      >
        <p>
          Your transaction is successfully submitted to Ethereum Network. Click
          link below to view your transaction on etherscan.io
        </p>
        <a
          id="txUrl"
          target="_blank"
          rel="noopener noreferrer"
          :href="`https://etherscan.io/tx/${txHash}`"
          >View tx on etherscan.io</a
        >
      </b-modal>
      <!-- Fail Modal -->
      <b-modal
        ref="failed_model_ref"
        id="unlock_request_modal"
        title="Transaction Failed"
        :hide-footer="true"
      >
        <p>
          <span v-html="failedErrorMessage"></span>
        </p>
      </b-modal>
      <!-- Unlock Request -->
      <b-modal
        ref="unlock_request_modal_ref"
        id="unlock_request_modal"
        title="Unlock Your Token"
        :hide-footer="true"
      >
        <b-form @submit="onUnlock" v-if="approvedStatus === false">
          <b-form-group id="exampleInputGroup1">
            <p>
              Please unlock your token to allow Wallet to spend. Recommended
              allowance is {{ form.inputCurrency }} amount to swap + extra 10% .
              If you intend to spend more {{ form.inputCurrency }} in the
              future, please fill in higer allowance so that you can avoid extra
              gas fees caused by future approval transactions
            </p>
            <label>{{ form.inputCurrency }} Amount to Unlock</label>
            <b-form-input type="text" v-model="form.approvedAmount" />
          </b-form-group>
          <b-button type="submit" variant="outline-primary">Approve</b-button>
        </b-form>
        <p v-else-if="approvedStatus === `waiting`">
          <span>
            <scale-loader
              :color="`#a41de4`"
              :height="`15px`"
              :width="`5px`"
            ></scale-loader>
          </span>
          Waiting for the approval transaction to be confirmed on Ethereum,
          before submitting swap transaction. It may take 1 to 3 minutes
          depending on network traffic and your transaction fee.
          <span v-if="approvedStatus === `waiting` && unlockTxHash">
            See status of your approval tx on
            <a
              id="txUrl"
              target="_blank"
              rel="noopener noreferrer"
              :href="`https://etherscan.io/tx/${unlockTxHash}`"
              >etherscan.io</a
            >
          </span>
        </p>
        <p v-else-if="approvedStatus === true">
          Your approval is confirmed on Ethereum Network!. You can now submit
          your original transaction to spend {{ form.inputValue }}
          {{ form.inputCurrency }} token.
        </p>
      </b-modal>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import axios from 'axios'
import { exchangeABI, tokenABI, ERC20_ABI } from '../assets/js/abi'
import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue'
import {
  getWeb3,
  estimateGas,
  estimateGasForSwap,
  estimateGasPrice,
  sendToken,
  signAndSendETH,
  swapTokenToEth,
  unlockToken,
  swapEthToToken,
  swapTokenToToken,
  metamaskSwap,
  hasTokenUniswap,
  isValidAddress,
  unlockTokenMetamask,
  getWeb3Metamask,
  currency,
  getCurrentReserve,
  getETHToUSDPrice,
  submitTxIdToServer,
  getLatestBlock,
  queryServer
} from '../assets/js/utils'
import BigNumber from 'bignumber.js'
import Vue from 'vue'
import VueQrcodeReader from 'vue-qrcode-reader'
import Loading from '~/components/Loading.vue'
import Holder from './Holder'
import config from '../config'
const defaultCamera = {
  audio: false, // don't request microphone access
  video: {
    facingMode: { ideal: 'environment' }, // use rear camera if available
    width: { min: 360, ideal: 680, max: 1920 }, // constrain video width resolution
    height: { min: 240, ideal: 480, max: 1080 } // constrain video height resolution
  }
}
const minDonateAmount = config.environment === 'development' ? 0 : 5
Vue.use(VueQrcodeReader)
let exchangeContracts = {}
let tokenAddressess = {}
let tokenContracts = {}
export default {
  components: {
    Loading,
    Holder,
    ScaleLoader
  },
  props: {
    swapMode: {
      default: 'swap',
      type: String
    },
    donationCurrency: {
      default: 'ETH',
      type: String
    },
    donationTokenAddress: {
      default: '',
      type: String
    }
  },
  data () {
    return {
      web3: null,
      web3Metamask: null,
      ALLOWED_SLIPPAGE_PERCENT: 1,
      account: null,
      form: {
        inputCurrency: null,
        outputCurrency: null,
        inputTokenAddress: null,
        outputTokenAddress: null,
        inputValue: '',
        inputValueUsd: '',
        outputValue: '',
        approvedAmount: 0,
        targetAddress: ''
      },
      loading: false,
      showAdvanced: false,
      gasPrice: 6,
      gasLimit: 80000,
      defaultGasPrice: 6,
      defaultGasLimit: 80000,
      txFee: 0,
      txHash: '',
      approvedStatus: '',
      lastEditedField: '',
      unlockTxHash: '',
      inputErrorMessage: 'Please input a valid amount',
      outputErrorMessage: 'Please input a valid amount',
      failedErrorMessage: 'Your transaction has failed.',
      slippage: null,
      isBuySelected: true,
      isSellSelected: false,
      scanning: false,
      camera: null,
      cameraErrorMessage: '',
      ethToUsd: null
    }
  },
  computed: {
    ...mapGetters({
      getAccount: 'account/getAccount',
      getTokenList: 'account/getTokenList',
      getPrice: 'account/getPrice',
      getAvailableTokenList: 'account/getAvailableTokenList',
      getBadTokenList: 'account/getBadTokenList',
      getAvailableTokenAddresses: 'account/getAvailableTokenAddresses',
      getAvailableExchangeAddresses: 'account/getAvailableExchangeAddresses',
      getActiveToken: 'getActiveToken',
      getActiveTokenAddress: 'getActiveTokenAddress',
      getCurrentView: 'getCurrentView',
      getBalance: 'account/getBalance',
      getConnection: 'getConnection',
      getServerStatus: 'getServerStatus',
      getSummary: 'getSummary',
      getAllTokenPrice: 'getAllTokenPrice',
      getOwnedTokenList: 'account/getOwnedTokenList',
      getSignIn: 'getSignIn'
    }),
    ALLOWED_SLIPPAGE: function () {
      // if (this.ALLOWED_SLIPPAGE_PERCENT)
      //   return parseFloat(this.ALLOWED_SLIPPAGE_PERCENT) / 100
      // else return 0
      return 0.00001
    },
    shouldRender: function () {
      if (this.getActiveToken === 'ETH') return true
      if (hasTokenUniswap(this.getActiveTokenAddress)) return true
      else return false
    },
    isBadToken: function () {
      let self = this
      if (self.getActiveToken === 'ETH') return false
      let token = this.getAvailableTokenList.find(
        t => t.symbol === self.getActiveToken
      )
      if (!token) return true
      let badToken = this.getBadTokenList.find(
        t => t.tokenAddress.toLowerCase() === token.tokenAddress.toLowerCase()
      )
      if (badToken) {
        console.log(`BAD TOKEN: ${badToken.tokenAddress}`)
        return badToken
      }
      return false
    },
    availableTokens: function () {
      let self = this
      let options = this.getAvailableTokenList
        .map(token => token.symbol)
        .sort()
        .map(symbol => {
          return {
            value: symbol,
            text: symbol
          }
        })
      options.unshift({ value: 'ETH', text: 'ETH' })
      options.unshift({ value: null, text: 'Please select currency' })
      return options
    },
    tokenList: function () {
      let options = this.getAvailableTokenList.map(token => {
        return {
          title: token.symbol,
          src: token.logo
        }
      })
      options.unshift({ title: 'ETH', src: null })
      return options
    },
    availableInputTokens: function () {
      let self = this
      let list = this.getOwnedTokenList
        .map(ownedToken => {
          let symbol = ownedToken.symbol
          let tokenAddress = ownedToken.tokenAddress.toLowerCase()
          let token = self.getAvailableTokenList.find(
            t =>
              t.symbol === symbol &&
              t.tokenAddress.toLowerCase() === tokenAddress
          )
          if (token)
            return {
              title: symbol,
              fullname: `${token.symbol} (${token.name})`,
              balance: self.getBalance[symbol],
              priceInUsd: token ? self.getPrice[token.tokenAddress] : 0,
              src: token ? token.logo : null,
              tokenAddress: token ? token.tokenAddress : null
            }
          else return null
        })
        .filter(t => t !== null)
        .filter(t => t.balance > 0 && t.title !== self.form.outputCurrency)
        .sort((a, b) => b.priceInUsd - a.priceInUsd)
      list.unshift({ title: 'ETH', fullname: 'Ether', src: null })
      return list
    },
    availableOutputTokens () {
      let self = this
      let inputCurrency = this.form.inputCurrency
      let tokenList = this.getAvailableTokenList
        .map(token => {
          let summary = self.getSummary.find(t => t.token_id === token.id)
          return {
            ...token,
            liquidity: summary ? summary.liquidity : 0,
            price_last_10M: summary ? summary.price_last_10M : 0
          }
        })
        .filter(token => token.liquidity > 0)
        .sort((a, b) => b.liquidity - a.liquidity)
        .map(token => {
          return {
            title: token.symbol,
            fullname: `${token.symbol} (${token.name})`,
            src: token.logo,
            tokenAddress: token.tokenAddress
          }
        })
      tokenList.unshift({
        title: 'ETH',
        fullname: 'Ether',
        src: null,
        tokenAddress: null
      })
      if (this.form.inputCurrency === null) return tokenList
      else return tokenList.filter(token => token.title !== inputCurrency)
    },
    swapType () {
      if (
        this.form.inputCurrency !== 'ETH' &&
        this.form.outputCurrency === 'ETH'
      )
        return 'TOKEN_TO_ETH'
      else if (
        this.form.inputCurrency === 'ETH' &&
        this.form.outputCurrency !== 'ETH'
      )
        return 'ETH_TO_TOKEN'
      else return 'TOKEN_TO_TOKEN'
    },
    validateGasLimit () {
      var reg = /^\d+$/
      if (!reg.test(this.gasLimit)) return false
      return !Number.isNaN(parseInt(this.gasLimit))
    },
    validateUsdAmount () {
      if (this.swapMode !== 'donation_swap') return true
      let amount = parseFloat(this.form.inputValueUsd * 1)
      const isNaN = Number.isNaN(amount)
      if (isNaN || amount <= 0) return false
      if (amount < minDonateAmount) return false
      return true
    },
    validateinputValue () {
      let amount = parseFloat(this.form.inputValue * 1)
      const isNaN = Number.isNaN(amount)
      let valid = true
      if (isNaN || amount <= 0) valid = false
      return valid
    },
    validateOutputAmount () {
      const amount = parseFloat(this.form.outputValue * 1)
      return Number.isNaN(amount) === false && amount > 0
    },
    validateCurrency () {
      if (this.form.inputCurrency === null || this.form.outputCurrency === null)
        return false
      if (this.form.inputCurrency === this.form.outputCurrency) return false
      else return true
    },
    validateBalance () {
      if (!this.validateinputValue) return false
      let amount = parseFloat(this.form.inputValue * 1)
      let txFee = this.txFee
      let ethBalance = parseFloat(this.getBalance['ETH'])

      if (this.form.inputCurrency === 'ETH') {
        if (amount + txFee > ethBalance) {
          this.inputErrorMessage = 'Not enough ETH balance or transaction fee'
          return false
        }
      } else {
        let tokenBalance = parseFloat(this.getBalance[this.form.inputCurrency])
        if (amount > tokenBalance || txFee > ethBalance) {
          this.inputErrorMessage = 'Not enough token balance or transaction fee'
          return false
        }
      }
      return true
    },
    validateSlippage () {
      if (!this.ALLOWED_SLIPPAGE_PERCENT) return false
      if (parseFloat(this.ALLOWED_SLIPPAGE_PERCENT) <= 0) {
        console.log('Invalid Slippage Value provided')
        return false
      }
      if (parseFloat(this.ALLOWED_SLIPPAGE_PERCENT) > 3) {
        this.inputErrorMessage = 'Slippage is too high.'
        return false
      }
      return true
    },
    shouldDisableSwapButton () {
      return (
        this.loading ||
        !this.validateCurrency ||
        !this.validateinputValue ||
        !this.validateOutputAmount ||
        !this.validateBalance ||
        !this.validateSlippage ||
        !this.validateGasLimit ||
        !this.validateUsdAmount ||
        this.isBadToken
      )
    },
    validateTargetAddress () {
      return true
      // return isValidAddress(this.form.targetAddress);
    },
    validateInputLiquidity () {
      let self = this
      if (this.form.inputCurrency === 'ETH') return true
      if (this.form.inputCurrency === null) return true
      if (
        !self.form.inputTokenAddress ||
        self.form.inputCurrency === self.getActiveToken
      ) {
        self.form.inputTokenAddress = self.getActiveTokenAddress.toLowerCase()
      }
      console.log(this.form)
      let token = this.getAvailableTokenList.find(
        t =>
          t.symbol === this.form.inputCurrency &&
          t.tokenAddress.toLowerCase() ===
            self.form.inputTokenAddress.toLowerCase()
      )
      if (!token) {
        console.log('No Input Token found.')
        return false
      }
      let summary = this.getSummary.find(s => s.token_id === token.id)
      if (!summary) {
        console.log('No Input Summary found.')
        return false
      }
      if (summary.liquidity > 0) return true
      else {
        console.log('Invalid input liquidity')
        return false
      }
    },
    validateOutputLiquidity () {
      let self = this
      return true
      if (this.form.outputCurrency === 'ETH') return true
      if (this.form.outputCurrency === null) return true
      // if (self.getActiveToken !== "ETH") {
      //   self.form.outputTokenAddress = self.getActiveTokenAddress.toLowerCase();
      // }
      // self.form.outputTokenAddress = self.form.outputTokenAddress.toLowerCase();
      let token = this.getAvailableTokenList.find(
        t =>
          t.symbol === this.form.outputCurrency &&
          t.tokenAddress.toLowerCase() ===
            self.form.outputTokenAddress.toLowerCase()
      )
      if (!token) {
        console.log('No Output Token found.')
        return false
      }
      let summary = this.getSummary.find(s => s.token_id === token.id)
      if (!summary) {
        console.log('No Output Summary found.')
        return false
      }
      if (summary.liquidity > 0) return true
      else {
        console.log('Invalid input liquidity')
        return false
      }
    },
    isLoadingWallet: function () {
      if (this.getSignIn && this.getOwnedTokenList.length === 0) return true
      else return false
    }
  },
  updated: function () {
    try {
      if (this.swapMode === 'swap') {
        if (this.isBuySelected) {
          this.form.outputCurrency = this.getActiveToken
          this.form.outputTokenAddress = this.getActiveTokenAddress.toLowerCase()
        } else if (this.isSellSelected) {
          this.form.inputCurrency = this.getActiveToken
          this.form.inputTokenAddress = this.getActiveTokenAddress.toLowerCase()
        }
      } else if (this.swapMode === 'donation_swap') {
        if (this.form.inputCurrency !== this.donationCurrency) {
          this.form.inputCurrency = this.donationCurrency
          this.form.inputTokenAddress = this.donationTokenAddress
          this.gasLimit = 160000
          this.onCurrencyChange()
        }
      }
      if (this.form.targetAddress && this.validateTargetAddress) {
        this.gasLimit = 190000
      }
    } catch (e) {}
  },
  errorCaptured: function (err, component, info) {
    console.log('Unexpected Error.')
  },
  mounted: async function () {
    let self = this
    let tokenAddressess = this.getAvailableTokenList.map(t =>
      t.tokenAddress.toLowerCase()
    )
    let tokenSymbols = this.getAvailableTokenList.map(t => t.symbol)
    this.form.outputCurrency = this.getActiveToken
    this.form.inputCurrency = null
    this.web3 = await getWeb3()
    this.web3Metamask = await getWeb3Metamask()
    this.account = this.getAccount
    for (let i = 0; i < tokenAddressess.length; i += 1) {
      try {
        if (exchangeContracts[tokenAddressess[i]] !== undefined) {
          continue
        }
        exchangeContracts[
          tokenAddressess[i].toLowerCase()
        ] = new this.web3.eth.Contract(
          exchangeABI,
          this.getAvailableExchangeAddresses[tokenAddressess[i].toLowerCase()]
        )
      } catch (e) {
        console.log(e)
      }
    }
    this.getAvailableTokenList.forEach(async token => {
      // const contract = exchangeContracts[token.tokenAddress.toLowerCase()];
      tokenContracts[
        token.tokenAddress.toLowerCase()
      ] = new this.web3.eth.Contract(tokenABI, token.tokenAddress)
    })
    if (this.swapMode === 'donation_swap') {
      console.log('This is donation swap...')
      this.prepareForDonationSwap()
    }
    try {
      let estimatedGasPriceFromNetwork = await estimateGasPrice(this.web3)
      this.gasPrice =
        parseInt(estimatedGasPriceFromNetwork / Math.pow(10, 9)) + 3
      this.defaultGasPrice = this.gasPrice
      await this.updateGasLimitAndTxFee()
    } catch (e) {
      console.log('Unable to estimate gas.')
    }
    this.ethToUsd = await getETHToUSDPrice()
  },
  methods: {
    ...mapActions({
      updateActiveToken: 'updateActiveToken',
      updateActiveTokenAddress: 'updateActiveTokenAddress',
      updateAuthRedirectUrl: 'updateAuthRedirectUrl',
      addPendingTransaction: 'transaction/addPendingTransaction'
    }),
    filterToken (options, search) {
      return options.filter(option => {
        return option.fullname.toLowerCase().indexOf(search.toLowerCase()) > -1
      })
    },
    prepareForDonationSwap () {
      try {
        console.log(`Donation currency ${this.donationCurrency}`)
        console.log(`Donation tokenAddress ${this.donationTokenAddress}`)

        this.form.inputCurrency = this.donationCurrency
        this.form.inputTokenAddress = this.donationTokenAddress || null
        this.form.outputCurrency = 'ULT'
        this.form.outputTokenAddress = '0x09617F6fD6cF8A71278ec86e23bBab29C04353a7'.toLowerCase()
        this.isBuySelected = true
        this.isSellSelected = false
        // this.form.targetAddress = "0x19caf17b4ea9f8dd9b5e8f17ab0c3c10f132691d";
      } catch (e) {
        console.warn(e)
      }
    },
    getDecimal (tokenAddress) {
      if (!tokenAddress) return 18
      try {
        let token = this.getAvailableTokenList.find(
          t => t.tokenAddress.toLowerCase() === tokenAddress.toLowerCase()
        )
        if (token) return token.decimal
        else return 18
      } catch (e) {
        console.warn(e)
        return 18
      }
    },
    async calculateAbsPrice (symbol, tokenAddress) {
      try {
        let { ethReserve, tokenReserve } = await getCurrentReserve(
          tokenAddress,
          this.web3
        )
        let decimal = this.getDecimal(tokenAddress)
        let absPrice =
          ethReserve / Math.pow(10, 18) / (tokenReserve / Math.pow(10, decimal))
        return absPrice
      } catch (e) {}
    },
    onSelectInputCurrency (value) {
      console.log(value)
      if (!value) return
      this.form.inputCurrency = value.title
      if (value.tokenAddress)
        this.form.inputTokenAddress = value.tokenAddress.toLowerCase()
      console.log(this.form)
      this.onCurrencyChange()
    },
    onSelectOutputCurrency (value) {
      if (!value) return
      this.form.outputCurrency = value.title
      if (value.tokenAddress)
        this.form.outputTokenAddress = value.tokenAddress.toLowerCase()
      this.onCurrencyChange()
    },
    async showSuccessToast (txHash) {
      // let successHTML
      // if (this.swapMode === 'donation_swap')
      //   successHTML = `<p>Thank you for your donation !</p>`
      // else
      //   successHTML = `<p>Your transaction is submitted to Ethereum Network.</p>`
      // this.$toasted.show(successHTML, {
      //   theme: 'outline',
      //   type: 'success',
      //   position: 'top-center',
      //   duration: 10000,
      //   fullWidth: true,
      //   action: [
      //     {
      //       text: 'View it On etherscan.io',
      //       onClick: (e, toastObject) => {
      //         toastObject.goAway(0)
      //         window.open(`https://etherscan.io/tx/${txHash}`, '_blank')
      //       }
      //     }
      //   ]
      // })
      const tx = await this.web3.eth.getTransaction(txHash)
      const nonce = tx.nonce
      if (txHash && nonce) {
        this.addPendingTransaction({ hash: txHash, nonce: nonce })
      }
      submitTxIdToServer(txHash)
    },
    showScanner () {
      this.scanning = true
      this.camera = defaultCamera
    },
    hideScanner () {
      this.scanning = false
      this.camera = null
    },
    toggleScanner () {
      if (this.scanning) this.hideScanner()
      else this.showScanner()
    },
    redirect () {
      this.$router.push('/tokendetail')
    },
    async useAllFunds () {
      if (this.form.inputCurrency === 'ETH') {
        this.form.inputValue = parseFloat(this.getBalance['ETH']) - this.txFee
      } else {
        this.form.inputValue = parseFloat(
          this.getBalance[this.form.inputCurrency]
        )
      }
      this.lastEditedField = 'input'
      this.onAmountChange()
    },
    async resetGasLimit () {
      this.gasLimit = this.defaultGasLimit
      this.updateGasLimitAndTxFee()
    },
    async resetGasPrice () {
      this.gasPrice = this.defaultGasPrice
      this.updateGasLimitAndTxFee()
    },
    async getEstimatedGas (toAddress) {
      try {
        let value = this.form.inputValue || 1
        let estimatedGas = await estimateGasForSwap(
          {
            from: this.getAccount.address,
            to: toAddress,
            amount: new BigNumber(
              value * Math.pow(10, this.getDecimal(this.getActiveTokenAddress))
            ).toFixed()
          },
          this.web3,
          toAddress
        )
        return estimatedGas
      } catch (e) {
        // console.warn("Unable to estimate gas");
      }
    },
    async updateGasLimitAndTxFee () {
      let self = this
      let outputCurrency = this.form.outputCurrency
      let outputValue = this.form.outputValue
      this.txFee =
        (2.0 * this.gasLimit * this.gasPrice * 1000000000) / Math.pow(10, 18)
      if (!outputValue) return
      let slippageInEth = this.txFee * 2
      if (outputCurrency !== 'ETH') {
        let token = this.getAvailableTokenList.find(
          t =>
            t.symbol === outputCurrency &&
            t.tokenAddress.toLowerCase() ===
              self.form.outputTokenAddress.toLowerCase()
        )
        let summary = this.getSummary.find(s => s.token_id === token.id)
        let tokenPriceInEth = summary.price_last_10M
        let slippageInToken = slippageInEth / tokenPriceInEth
        this.ALLOWED_SLIPPAGE_PERCENT = (
          (slippageInToken / outputValue) *
          100
        ).toFixed(3)
        if (this.ALLOWED_SLIPPAGE_PERCENT > 3) this.ALLOWED_SLIPPAGE_PERCENT = 3
      } else {
        this.ALLOWED_SLIPPAGE_PERCENT = (
          (slippageInEth / outputValue) *
          100
        ).toFixed(3)
        if (this.ALLOWED_SLIPPAGE_PERCENT > 3) this.ALLOWED_SLIPPAGE_PERCENT = 3
      }
    },
    onDecode (decodedString) {
      this.form.targetAddress = decodedString
      this.hideScanner()
    },
    async onInit (promise) {
      try {
        await promise
      } catch (error) {
        console.log(error)
        if (error.name === 'NotAllowedError') {
          this.cameraErrorMessage =
            'ERROR: you need to grant camera access permisson'
        } else if (error.name === 'NotFoundError') {
          this.cameraErrorMessage = 'ERROR: no camera on this device'
        } else if (error.name === 'NotSupportedError') {
          this.cameraErrorMessage =
            'ERROR: secure context required (HTTPS, localhost)'
        } else if (error.name === 'NotReadableError') {
          this.cameraErrorMessage = 'ERROR: is the camera already in use?'
        } else if (error.name === 'OverconstrainedError') {
          this.cameraErrorMessage = 'ERROR: installed cameras are not suitable'
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.cameraErrorMessage =
            'ERROR: Stream API is not supported in this browser'
        }
      }
    },
    onInputFocus () {
      this.lastEditedField = 'input'
    },
    onOutputFocus () {
      this.lastEditedField = 'output'
    },
    async onCurrencyChange () {
      if (!this.validateCurrency) return
      try {
        this.onAmountChange()
        if (this.form.inputCurrency === 'ETH') {
          const contractAddress = this.getAvailableExchangeAddresses[
            this.form.outputTokenAddress
          ]
          let estimatedGas = await this.getEstimatedGas(contractAddress)
          if (estimatedGas * 1.6 > this.gasLimit)
            this.gasLimit = parseInt(estimatedGas * 1.6)
          if (
            this.swapType === 'TOKEN_TO_TOKEN' &&
            this.gasLimit < estimatedGas * 2.5
          )
            this.gasLimit = parseInt(estimatedGas * 2.5)
        } else {
          const contractAddress = this.getAvailableExchangeAddresses[
            this.form.inputTokenAddress
          ]
          let estimatedGas = await this.getEstimatedGas(contractAddress)
          if (estimatedGas * 1.6 > this.gasLimit)
            this.gasLimit = parseInt(estimatedGas * 1.6)
          if (
            this.swapType === 'TOKEN_TO_TOKEN' &&
            this.gasLimit < estimatedGas * 2.5
          )
            this.gasLimit = parseInt(estimatedGas * 2.5)
        }
        this.defaultGasLimit = this.gasLimit
      } catch (e) {
        console.log('some error')
        console.log(e)
      }
    },
    onCurrencySwap () {
      if (this.isSellSelected) {
        let savedOutput = this.form.outputCurrency
        this.changeSelected('buy')
        this.form.inputCurrency = savedOutput
      } else if (this.isBuySelected) {
        let savedInput = this.form.inputCurrency
        this.changeSelected('sell')
        this.form.outputCurrency = savedInput
      }
      this.lastEditedField === 'input'
      this.onAmountChange()
    },
    onBuySellChange (method) {
      if (method === 'buy') {
        this.form.inputCurrency = null
        this.form.outputCurrency = this.getActiveToken
      } else if (method === 'sell') {
        this.form.inputCurrency = this.getActiveToken
        this.form.outputCurrency = null
      }
    },
    changeSelected (method) {
      if (method === 'buy') {
        this.isBuySelected = true
        this.isSellSelected = false
        this.onBuySellChange('buy')
        this.form.outputTokenAddress = this.getActiveTokenAddress.toLowerCase()
      } else if (method === 'sell') {
        this.isBuySelected = false
        this.isSellSelected = true
        this.onBuySellChange('sell')
        this.form.inputTokenAddress = this.getActiveTokenAddress.toLowerCase()
      }
    },
    async onAmountChange () {
      try {
        if (!this.form.inputCurrency || !this.form.outputCurrency) return
        if (this.lastEditedField === 'input') {
          if (!this.validateinputValue) {
            this.form.outputValue = ''
            return
          }
          // this.updateUsdAmount();
          if (this.swapType === 'TOKEN_TO_ETH') {
            let exchangeContract =
              exchangeContracts[this.form.inputTokenAddress]
            let tokenSold = new BigNumber(
              this.form.inputValue *
                Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
            ).toFixed(0)
            let ethBought = await exchangeContract.methods
              .getTokenToEthInputPrice(tokenSold)
              .call()
            this.form.outputValue = parseFloat(ethBought / Math.pow(10, 18))
          } else if (this.swapType === 'ETH_TO_TOKEN') {
            let exchangeContract =
              exchangeContracts[this.form.outputTokenAddress]
            let ethSold = new BigNumber(
              this.form.inputValue * Math.pow(10, 18)
            ).toFixed(0)
            let tokenBought = await exchangeContract.methods
              .getEthToTokenInputPrice(ethSold)
              .call()
            this.form.outputValue = parseFloat(
              tokenBought /
                Math.pow(10, this.getDecimal(this.form.outputTokenAddress))
            )
          } else if (this.swapType === 'TOKEN_TO_TOKEN') {
            let exchangeContractA =
              exchangeContracts[this.form.inputTokenAddress]
            let tokenSoldA = new BigNumber(
              this.form.inputValue *
                Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
            ).toFixed(0)
            let ethBought = await exchangeContractA.methods
              .getTokenToEthInputPrice(tokenSoldA)
              .call()
            let ethSold = ethBought
            let exchangeContractB =
              exchangeContracts[this.form.outputTokenAddress]
            let tokenBoughtB = await exchangeContractB.methods
              .getEthToTokenInputPrice(ethSold)
              .call()

            this.form.outputValue = parseFloat(
              tokenBoughtB /
                Math.pow(10, this.getDecimal(this.form.outputTokenAddress))
            )
          }
        } else if (this.lastEditedField === 'output') {
          if (!this.validateOutputAmount) {
            this.form.inputValue = ''
            return
          }
          if (this.swapType === 'TOKEN_TO_ETH') {
            let exchangeContract =
              exchangeContracts[this.form.inputTokenAddress]
            let ethBought = new BigNumber(
              this.form.outputValue * Math.pow(10, 18)
            ).toFixed(0)
            let tokenSold = await exchangeContract.methods
              .getTokenToEthOutputPrice(ethBought)
              .call()
            this.form.inputValue = parseFloat(
              tokenSold /
                Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
            )
          } else if (this.swapType === 'ETH_TO_TOKEN') {
            let exchangeContract =
              exchangeContracts[this.form.outputTokenAddress]
            let tokenBought = new BigNumber(
              this.form.outputValue *
                Math.pow(10, this.getDecimal(this.form.outputTokenAddress))
            ).toFixed(0)
            let ethSold = await exchangeContract.methods
              .getEthToTokenOutputPrice(tokenBought)
              .call()
            this.form.inputValue = parseFloat(ethSold / Math.pow(10, 18))
          } else if (this.swapType === 'TOKEN_TO_TOKEN') {
            let exchangeContractB =
              exchangeContracts[this.form.outputTokenAddress]
            let tokenSoldB = new BigNumber(
              this.form.outputValue *
                Math.pow(10, this.getDecimal(this.form.outputTokenAddress))
            ).toFixed(0)
            console.log('tokenSoldB', tokenSoldB)
            // console.log(exchangeContractB)
            let ethBought = await exchangeContractB.methods
              .getTokenToEthInputPrice(tokenSoldB)
              .call()

            let ethSold = ethBought
            let exchangeContractA =
              exchangeContracts[this.form.inputTokenAddress]
            let tokenBoughtA = await exchangeContractA.methods
              .getEthToTokenInputPrice(ethSold)
              .call()
            this.form.inputValue = parseFloat(
              tokenBoughtA /
                Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
            )
            // console.log(exchangeContractA)
          }
        }
        this.updateExchangeRateAndSlippage()
        this.updateGasLimitAndTxFee()
        this.updateUsdAmount()
      } catch (e) {
        let exchangeContractB = exchangeContracts[this.form.outputTokenAddress]
        console.warn(`Error during on amount change`, e)
      }
    },
    async onUnlock (evt) {
      evt.preventDefault()
      let txHash
      if (!this.getConnection) {
        alert('No Internet Connection Detected !')
        return
      }
      if (!this.getServerStatus) {
        alert('Connection Issue to Server !')
        return
      }
      let approvedAmount
      if (
        parseFloat(this.form.approvedAmount) >
        this.getBalance[this.form.inputCurrency]
      ) {
        approvedAmount = new BigNumber(
          this.getBalance[this.form.inputCurrency] *
            Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
        )
      } else {
        approvedAmount = new BigNumber(
          this.form.approvedAmount *
            Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
        )
      }
      this.approvedStatus = 'waiting'
      if (this.getAccount.type === 'metamask') {
        try {
          this.unlockTxHash = await unlockTokenMetamask(
            {
              from: this.getAccount.address,
              approvedAmount: approvedAmount.toFixed(0),
              gasPrice: parseInt(this.gasPrice * Math.pow(10, 9)),
              gasLimit: parseInt(this.gasLimit)
            },
            this.form.inputTokenAddress,
            {
              web3: this.web3Metamask,
              exchangeAddress: this.getAvailableExchangeAddresses[
                this.form.inputTokenAddress
              ],
              privateKey: this.getAccount.privateKey
            }
          )
          console.log(`Unlock Tx Hash: ${this.unlockTxHash}`)
        } catch (e) {
          alert(
            'Your approval transaction has failed. Please try again to approve token to spend.'
          )
          this.hideModal('unlock_request_modal_ref')
        }
      } else {
        try {
          console.log(`approve: ${approvedAmount.toFixed(0)}`)
          this.unlockTxHash = await unlockToken(
            {
              from: this.getAccount.address,
              approvedAmount: approvedAmount.toFixed(0),
              gasPrice: parseInt(this.gasPrice * Math.pow(10, 9)),
              gasLimit: parseInt(this.gasLimit)
            },
            this.form.inputCurrency,
            {
              web3: this.web3,
              exchangeAddress: this.getAvailableExchangeAddresses[
                this.form.inputTokenAddress
              ],
              privateKey: this.getAccount.privateKey
            }
          )
          console.log(`Unlock Tx Hash: ${this.unlockTxHash}`)
        } catch (e) {
          alert(
            'Your approval transaction has failed. Please try again to approve token to spend.'
          )
          this.hideModal('unlock_request_modal_ref')
        }
      }
      // checking allowance
      let self = this
      let check = setInterval(async () => {
        console.log('Checking allowance...')
        const allowance = await self.getAllowance(
          self.form.inputCurrency,
          self.form.inputTokenAddress
        )
        const required = new BigNumber(
          self.form.approvedAmount *
            Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
        )
        if (allowance >= required.toNumber()) {
          clearInterval(check)
          self.approvedStatus = true
          if (self.getAccount.type !== 'metamask')
            self.hideModal('unlock_request_modal_ref')
          self.onSubmit()
        }
        if (!txHash) txHash = self.unlockTxHash
        let isFailed = await self.isTxFailed(txHash)
        if (isFailed) {
          clearInterval(check)
          self.hideModal('unlock_request_modal_ref')
          self.showFailedUnlock(txHash)
        }
      }, 2000)
    },
    async onUsdInputChange () {
      let usdAmount = this.form.inputValueUsd
      if (!this.validateUsdAmount) {
        return
      }
      if (this.form.inputCurrency === 'ETH') {
        if (!this.ethToUsd) this.ethToUsd = await getETHToUSDPrice()
        this.form.inputValue = parseFloat(parseFloat(usdAmount) / this.ethToUsd)
      } else {
        let tokenToUsd = this.getPrice[this.donationTokenAddress]
        this.form.inputValue = parseFloat(
          parseFloat(usdAmount) / parseFloat(tokenToUsd)
        )
      }
      this.onAmountChange()
    },
    async updateUsdAmount () {
      let inputAmount = this.form.inputValue
      if (!this.validateinputValue) {
        return
      }
      if (this.form.inputCurrency === 'ETH') {
        let updatedUsdValue = parseFloat(inputAmount * this.ethToUsd)
        let shouldUpdate =
          Math.abs(updatedUsdValue - this.form.inputValueUsd) > 0.01
            ? true
            : false

        if (shouldUpdate) this.form.inputValueUsd = updatedUsdValue
      } else {
        let tokenToUsd = this.getPrice[
          this.donationTokenAddress || this.form.inputTokenAddress
        ]
        let updatedUsdValue = parseFloat(inputAmount * tokenToUsd)
        let shouldUpdate =
          Math.abs(updatedUsdValue - this.form.inputValueUsd) > 0.01
            ? true
            : false

        if (shouldUpdate) this.form.inputValueUsd = updatedUsdValue
      }
    },
    async onSubmit (evt) {
      if (evt) evt.preventDefault()
      console.log(`Preparing to submit swap tx:`)
      let self = this
      if (!this.getConnection) {
        alert('No Internet Connection Detected !')
        return
      }
      if (!this.getServerStatus) {
        alert('Connection Issue to Server !')
        return
      }
      if (evt) evt.preventDefault()
      this.loading = true
      let web3 = this.web3
      let inputValue = this.form.inputValue
      let inputCurrency = this.form.inputCurrency
      let inputTokenAddress = this.form.inputTokenAddress
      let outputValue = this.form.outputValue
      let outputCurrency = this.form.outputCurrency
      let outputTokenAddress = this.form.outputTokenAddress
      let recipient = this.form.targetAddress || null
      if (this.swapMode === 'donation_swap')
        recipient = '0x19caf17b4ea9f8dd9b5e8f17ab0c3c10f132691d'
      let ALLOWED_SLIPPAGE = this.ALLOWED_SLIPPAGE
      let type = this.swapType
      let exchangeContract = exchangeContracts[outputCurrency]
      if (this.getAccount.type === 'metamask') {
        try {
          if (inputCurrency !== 'ETH') {
            const allowance = await this.getAllowance(
              this.form.inputCurrency,
              this.form.inputTokenAddress
            )
            // const allowance =
            // 1 * Math.pow(10, this.getDecimal(this.form.inputCurrency, this.form.inputTokenAddress));
            const input =
              inputValue *
              Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
            console.log(`Current token allowance is: ${allowance}`)
            if (input > allowance) {
              this.loading = false
              this.approvedStatus = false
              this.form.approvedAmount = this.form.inputValue * 1.5
              if (
                this.form.approvedAmount >
                this.getBalance[this.form.inputCurrency]
              ) {
                this.form.approvedAmount = this.getBalance[
                  this.form.inputCurrency
                ]
              }
              this.showModal('unlock_request_modal_ref')
              return
            }
          }
          this.txHash = await metamaskSwap({
            inputValue,
            inputDecimal: this.getDecimal(this.form.inputTokenAddress),
            inputCurrency,
            inputTokenAddress,
            outputValue,
            outputDecimal: this.getDecimal(this.form.outputTokenAddress),
            outputCurrency,
            outputTokenAddress,
            gasPrice: parseInt(this.gasPrice * Math.pow(10, 9)),
            gasLimit: parseInt(this.gasLimit),
            from: self.getAccount.address,
            recipient,
            type,
            exchangeContract,
            ALLOWED_SLIPPAGE
          })
        } catch (e) {
          console.error('Error while trying to submit tx using metamask')
          console.error(e)
          console.log(this.form)
        }
        if (this.txHash) {
          // this.updateActiveToken(this.form.outputCurrency)
          // this.updateActiveTokenAddress(outputTokenAddress)
          this.onReset()
          this.loading = false
          this.hideModal('unlock_request_modal_ref')
          this.updateAuthRedirectUrl({
            tokenSubTab: 'balance'
          })
          this.showSuccessToast(this.txHash)
        } else {
          this.onReset()
          this.loading = false
          this.hideModal('unlock_request_modal_ref')
          this.showModal('failed_modal_ref')
          return
        }
      } else {
        try {
          const block = await getLatestBlock(web3)
          const deadline = block.timestamp + 300
          const accounts = await web3.eth.getAccounts()
          let exchangeContract
          if (type === 'ETH_TO_TOKEN') {
            exchangeContract = exchangeContracts[outputCurrency]
            const contractAddress = this.getAvailableExchangeAddresses[
              this.form.outputTokenAddress
            ]
            let minimumTokenBought = new BigNumber(outputValue)
              .multipliedBy(1 - ALLOWED_SLIPPAGE)
              .multipliedBy(10 ** this.getDecimal(this.form.outputTokenAddress))
              .toFixed(0)
            const ethSold = new BigNumber(
              inputValue * Math.pow(10, 18)
            ).toFixed(0)
            await this.updateGasLimitAndTxFee()
            console.log({
              from: this.getAccount.address,
              ethSold: ethSold,
              gasPrice: parseInt(this.gasPrice * Math.pow(10, 9)),
              gasLimit: parseInt(this.gasLimit),
              minimumTokenBought,
              deadline
            })
            try {
              this.txHash = await swapEthToToken(
                {
                  from: this.getAccount.address,
                  ethSold: ethSold,
                  gasPrice: parseInt(this.gasPrice * Math.pow(10, 9)),
                  gasLimit: parseInt(this.gasLimit),
                  minimumTokenBought,
                  deadline,
                  recipient
                },
                this.form.outputTokenAddress,
                contractAddress,
                this.getAccount.privateKey,
                this.web3
              )
            } catch (e) {
              console.log(e)
              console.log('error occoured while swapping...')
            }
            if (this.txHash) console.log(this.txHash)
            if (!this.txHash) {
              this.loading = false
              this.showModal('failed_modal_ref')
              return
            }
            // this.updateActiveToken(this.form.outputCurrency)
            // this.updateActiveTokenAddress(this.form.outputTokenAddress)
            this.onReset()
            this.loading = false
            this.updateAuthRedirectUrl({
              tokenSubTab: 'balance'
            })
            this.showSuccessToast(this.txHash)
          } else if (type === 'TOKEN_TO_ETH') {
            exchangeContract = exchangeContracts[inputCurrency]
            const tokenSold = new BigNumber(
              inputValue *
                Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
            ).toFixed(0)
            const exchangeRate = parseFloat(outputValue / inputValue)
            let minEth = new BigNumber(outputValue)
              .multipliedBy(1 - ALLOWED_SLIPPAGE)
              .multipliedBy(10 ** 18)
              .toFixed(0)
            if (minEth <= 0) {
              minEth = new BigNumber(outputValue)
                .multipliedBy(1 - 0.00001)
                .multipliedBy(10 ** 18)
                .toFixed(0)
            }
            const contractAddress = this.getAvailableExchangeAddresses[
              this.form.inputTokenAddress
            ]
            await this.updateGasLimitAndTxFee()
            const allowance = await this.getAllowance(
              this.form.inputCurrency,
              this.form.inputTokenAddress
            )
            const input =
              this.form.inputValue *
              Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
            console.log(`Current token allowance is: ${allowance}`)
            if (input > allowance) {
              this.loading = false
              this.approvedStatus = false
              this.form.approvedAmount = this.form.inputValue * 1.5
              if (
                this.form.approvedAmount >
                this.getBalance[this.form.inputCurrency]
              ) {
                this.form.approvedAmount = this.getBalance[
                  this.form.inputCurrency
                ]
              }
              this.showModal('unlock_request_modal_ref')
              return
            }
            console.log({
              from: this.getAccount.address,
              amount:
                parseFloat(this.form.inputValue) *
                Math.pow(10, this.getDecimal(this.form.inputTokenAddress)),
              gasPrice: parseInt(this.gasPrice * Math.pow(10, 9)),
              gasLimit: parseInt(this.gasLimit),
              tokenSold,
              minEth,
              deadline
            })
            this.txHash = await swapTokenToEth(
              {
                from: this.getAccount.address,
                amount:
                  parseFloat(this.form.inputValue) *
                  Math.pow(10, this.getDecimal(this.form.inputTokenAddress)),
                gasPrice: parseInt(this.gasPrice * Math.pow(10, 9)),
                gasLimit: parseInt(this.gasLimit),
                tokenSold,
                minEth,
                deadline,
                recipient
              },
              this.form.inputTokenAddress,
              contractAddress,
              this.getAccount.privateKey,
              this.web3
            )
            // this.updateActiveToken(this.form.outputCurrency)
            // this.updateActiveTokenAddress(outputTokenAddress)
            this.onReset()
            this.loading = false
            this.updateAuthRedirectUrl({
              tokenSubTab: 'balance'
            })
            this.showSuccessToast(this.txHash)
          } else if (type === 'TOKEN_TO_TOKEN') {
            exchangeContract = exchangeContracts[inputCurrency]
            const contractAddress = this.getAvailableExchangeAddresses[
              this.form.inputTokenAddress
            ]
            const tokenASold = new BigNumber(
              inputValue *
                Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
            ).toFixed(0)
            // const minTokenBBought = new BigNumber(outputValue)
            //   .multipliedBy(1 - 0.03)
            //   .multipliedBy(
            //     Math.pow(
            //       10,
            //       this.getDecimal(
            //         this.form.outputTokenAddress
            //       )
            //     )
            //   )
            //   .toFixed(0)
            const minTokenBBought = new BigNumber(1).toFixed(0)
            console.log(`Minimum token bought is ${minTokenBBought}`)
            const minEth = new BigNumber(1).toFixed(0)
            const outputTokenAddress = this.form.outputTokenAddress
            await this.updateGasLimitAndTxFee()
            // check allowance value for input token
            const allowance = await this.getAllowance(
              this.form.inputCurrency,
              this.form.inputTokenAddress
            )
            const input =
              this.form.inputValue *
              Math.pow(10, this.getDecimal(this.form.inputTokenAddress))
            console.log(`${inputCurrency} token allowance is: ${allowance}`)
            if (input > allowance) {
              this.loading = false
              this.approvedStatus = false
              this.form.approvedAmount = this.form.inputValue * 1.5
              if (
                this.form.approvedAmount >
                this.getBalance[this.form.inputCurrency]
              ) {
                this.form.approvedAmount = this.getBalance[
                  this.form.inputCurrency
                ]
              }
              this.showModal('unlock_request_modal_ref')
              return
            }
            console.log({
              from: this.getAccount.address,
              gasPrice: parseInt(this.gasPrice * Math.pow(10, 9)),
              gasLimit: parseInt(this.gasLimit),
              tokenASold,
              minEth,
              minTokenBBought,
              deadline,
              outputTokenAddress
            })
            this.txHash = await swapTokenToToken(
              {
                from: this.getAccount.address,
                gasPrice: parseInt(this.gasPrice * Math.pow(10, 9)),
                gasLimit: parseInt(this.gasLimit),
                tokenASold,
                minEth,
                minTokenBBought,
                deadline,
                outputTokenAddress,
                recipient
              },
              // exchangeContract,
              this.form.inputTokenAddress,
              contractAddress,
              this.getAccount.privateKey,
              this.web3
            )
            // this.updateActiveToken(this.form.outputCurrency)
            // this.updateActiveTokenAddress(outputTokenAddress)
            this.onReset()
            this.loading = false
            this.updateAuthRedirectUrl({
              tokenSubTab: 'balance'
            })
            this.showSuccessToast(this.txHash)
          }
        } catch (e) {
          console.log(e)
          this.loading = false
          this.showModal('failed_model_ref')
        }
      }
    },
    async isTxFailed (txHash) {
      let url = `https://api.etherscan.io/api?module=transaction&action=getstatus&txhash=${txHash}&apikey=${config.etherscanApiKey}`
      let response = await queryServer(url)
      if (response.data.result.isError == '1') return true
      return false
    },
    async showFailedUnlock (txHash) {
      // cancel allowance checker after 5min
      this.failedErrorMessage = `The swap transaction was canceled since the approval transaction has failed on Ethereum network ! Please see transaction detail on <a href="https://etherscan.io/tx/${txHash}" target="_blank">etherscan.io</a>`
      this.showModal('failed_model_ref')
    },
    async getAllowance (inputCurrency, tokenAddress) {
      try {
        let exchangeAddress = this.getAvailableExchangeAddresses[
          tokenAddress.toLowerCase()
        ]
        let token = this.getAvailableTokenList.find(
          t =>
            t.symbol === inputCurrency &&
            t.tokenAddress.toLowerCase() === tokenAddress.toLowerCase()
        )
        const accounts = await this.web3.eth.getAccounts()
        const contract = new this.web3.eth.Contract(ERC20_ABI, tokenAddress)
        // let exchangeContract = exchangeContracts[tokenAddress];
        let address = this.getAccount.address
        let allowance = await contract.methods
          .allowance(address, exchangeAddress)
          .call()
        console.log(
          `Allowance for ${inputCurrency}, ${tokenAddress} is ${allowance}`
        )
        return allowance
      } catch (e) {
        console.log(e)
        console.log('Cannot get token allowance value !')
      }
    },
    onReset (evt) {
      console.log('resetting...')
      if (evt) evt.preventDefault()
      this.form.inputCurrency = null
      this.form.outputCurrency = null
      this.form.inputValue = ''
      this.form.outputValue = ''
      if (this.swapMode === 'donation_swap') this.prepareForDonationSwap()
      this.loading = false
    },
    showModal (ref) {
      if (this.$refs[ref]) this.$refs[ref].show()
    },
    hideModal (ref) {
      this.$refs[ref].hide()
    },
    async updateExchangeRateAndSlippage () {
      let { inputCurrency, outputCurrency, inputValue, outputValue } = this.form
      let web3 = this.web3
      if (inputCurrency !== 'ETH') {
        // token_to_token
        if (outputCurrency !== 'ETH') {
          try {
            let tokenExchangeAddressA = this.getAvailableExchangeAddresses[
              this.form.inputTokenAddress
            ]
            let tokenContractA = tokenContracts[this.form.inputTokenAddress]
            let ethReserveA = await web3.eth.getBalance(tokenExchangeAddressA)
            let tokenRserveA = await tokenContractA.methods
              .balanceOf(tokenExchangeAddressA)
              .call()
            ethReserveA = new BigNumber(ethReserveA)
            tokenRserveA = new BigNumber(tokenRserveA)

            ethReserveA = ethReserveA.dividedBy(10 ** 18)
            tokenRserveA = tokenRserveA.dividedBy(
              10 ** this.getDecimal(this.form.inputTokenAddress)
            )
            let absPriceA = tokenRserveA.dividedBy(ethReserveA)
            let tokenExchangeAddressB = this.getAvailableExchangeAddresses[
              this.form.outputTokenAddress
            ]
            let tokenContractB = tokenContracts[this.form.outputTokenAddress]
            let ethReserveB = await web3.eth.getBalance(tokenExchangeAddressB)
            let tokenReserveB = await tokenContractB.methods
              .balanceOf(tokenExchangeAddressB)
              .call()
            ethReserveB = new BigNumber(ethReserveB)
            tokenReserveB = new BigNumber(tokenReserveB)

            ethReserveB = ethReserveB.dividedBy(10 ** 18)
            tokenReserveB = tokenReserveB.dividedBy(
              10 ** this.getDecimal(this.form.outputTokenAddress)
            )
            let absPriceB = tokenReserveB.dividedBy(ethReserveB)
            let absPrice = absPriceB.dividedBy(absPriceA)
            absPrice = absPrice.toFixed(8)
            this.exchangeRate = outputValue / inputValue
            this.slippage =
              (100 * Math.abs(absPrice - this.exchangeRate)) / absPrice
          } catch (e) {
            // console.log("an error");
          }
        } else if (outputCurrency === 'ETH') {
          // token_to_eth
          let absPrice = await this.calculateAbsPrice(
            this.form.inputCurrency,
            this.form.inputTokenAddress
          )
          this.exchangeRate = outputValue / inputValue
          this.slippage =
            (100 * Math.abs(absPrice - this.exchangeRate)) / absPrice
        }
      } else if (inputCurrency === 'ETH' && outputCurrency !== 'ETH') {
        // eth_to_token
        let absPrice = await this.calculateAbsPrice(
          outputCurrency,
          this.form.outputTokenAddress
        )
        this.exchangeRate = outputValue / inputValue
        this.slippage =
          (100 * Math.abs(absPrice - 1 / this.exchangeRate)) / absPrice
      }
    }
  }
}
</script>

<style>
.swaptoken-view {
  min-height: 100vh;
}
#uniswap-convert-section h4 {
  text-align: center;
  margin-bottom: 30px;
}
#uniswap-convert-section {
  padding-top: 20px;
  width: 90%;
  max-width: 560px;
  margin: 0 auto;
}
#uniswap-convert-section .message-in-swap-form {
  font-size: 13px;
  margin-top: 10px;
}
.submit-button-group {
  display: flex;
  justify-content: space-between;
}
#uniswap-convert-section form button {
  flex-grow: 1;
  margin: 20px 5px;
}
#uniswap-convert-section form button:hover {
  color: #fff;
}
#unlock_request_modal {
  position: fixed;
  top: 150px;
}
#uniswap-convert-section form label {
  font-weight: bolder;
  font-size: 14px;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  height: auto;
}
#uniswap-convert-section form {
  margin-bottom: 60px;
  margin-top: 25px;
}
#uniswap-convert-section .input-form-group {
  height: 80px;
}
#uniswap-convert-section img {
  /* width: 120px; */
  /* margin: 20px auto; */
}
.v-select {
  height: 40px;
  background: #fff;
}
.vs--searchable .vs__dropdown-toggle {
  cursor: text;
  height: 40px;
}
#unlock_request_modal button[type='submit'] {
  width: 100%;
}
#unlock_request_modal .modal-content {
  overflow: hidden !important;
  width: 100% !important;
  height: auto !important;
}
#unlock_request_modal .modal-body p {
  font-size: 13px;
  line-height: 1.5;
}
#success_modal .modal-header {
  border-radius: 0px !important;
  border: none;
  z-index: 666;
  position: relative !important;
  height: 62px !important;
}
#success_modal .modal-body p {
  font-size: 13px;
  line-height: 1.5;
}
#currency-swap-button svg {
  transform: rotateZ(90deg);
}
#currency-swap-button {
  border-radius: 100px !important;
  width: 50px;
  height: 50px;
  display: block;
  margin: 20px auto !important;
}
.exchange-info-container {
  display: flex;
  justify-content: space-between;
}
.exchange-info-container p {
  font-size: 13px;
  color: #223b48;
}
.no-exchange-yet p {
  text-align: center;
  margin: 30px auto;
  line-height: 1.5;
}
.buy-or-sell .switch-buy,
.buy-or-sell .switch-sell {
  width: 170px;
  height: 50px;
  font-size: 13px;
  outline: none;
  border: none;
  background: #bbc1c3;
  color: #333;
}
.buy-or-sell .switch-buy:hover,
.buy-or-sell .switch-sell:hover {
  outline: none;
  border: none;
  background: #aaa;
}
.buy-or-sell .switch-buy:focus,
.buy-or-sell .switch-sell:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.buy-or-sell .selected,
.buy-or-sell .selected:hover {
  background: #773794;
  color: #fff;
  font-weight: bold;
}
.qr-scanner-container {
  display: flex;
  justify-content: center;
  background: #333;
}
#qr-toggle-btn {
  margin: 0;
  margin-left: 10px;
  height: 38px;
  width: 38px !important;
  box-sizing: border-box;
  flex-grow: initial !important;
  text-align: center;
  padding: 5px;
}
.qr-scanner-container,
.qrcode-stream {
  height: calc(100vh - 64px);
  width: 100%;
}
.qrcode-stream__inner-wrapper {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
.qrcode-stream__camera,
.qrcode-stream__pause-frame {
  width: 100%;
  height: calc(100vh);
}
.cancel-scanner-btn {
  bottom: 100px;
  width: 110px;
  height: 50px;
  position: fixed;
}
.camera-error-message {
  position: fixed;
  top: 160px;
  z-index: 1000;
  color: #e61209;
  font-weight: bolder;
}
.advanced-toggle-group {
  height: auto !important;
  padding-top: 5px;
}
.reset-gas-price {
  color: #3571ad;
  cursor: pointer;
  text-align: right;
  width: 160px;
  margin-bottom: 10px;
}
#bad-token-message {
  font-size: 13px;
  text-align: left;
  line-height: 1.5;
  color: #ff5722;
}
@media screen and (max-width: 500px) {
  form label {
    font-size: 12px;
  }
  .amount-label-container .current-balance {
    font-size: 11px;
    margin-bottom: 5px;
  }
}
</style>
